Package: gkill
Version: 1.0-1
Architecture: amd64
Maintainer: James Stevenson <james@stev.org>
Installed-Size: 21
Depends: libc6 (>= 2.8)
Section: misc
Priority: optional
Homepage: https://github.com/mistralol/gkill
Description: Kills a program gracefully
 Kills a program by using a sequence of signals that gets more agressive after
 each timeout period of reached
