Source: gkill
Section: misc
Priority: optional
Maintainer: James Stevenson <james@stev.org>
Build-Depends: debhelper (>= 9), autotools-dev
Standards-Version: 3.9.6
Homepage: https://github.com/mistralol/gkill
Vcs-Git: https://github.com/mistralol/gkill.git
#Vcs-Browser: https://anonscm.debian.org/gitweb/?p=collab-maint/gkill.git;a=summary

Package: gkill
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Kills a program gracefully
 Kills a program by using a sequence of signals that gets more agressive after
 each timeout period of reached
